html {
  min-height: 100%;
  background: linear-gradient(rgba(100, 106, 99, 1), rgba(187, 147, 104, 1));
}

article {
  border-bottom: 1px solid black;
  margin: 1em;
  padding-bottom: 1em;
}

/*Text Styling*/
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 1em;
}

/*Link Styling*/
a, a:link, a:active{
  text-decoration: none;
  color: white;
}

a:hover, a:focus {
  font-size: 1em;
  color: rgb(147, 84, 54);
}

a:visited {
}
