.pull-left {
  float: left;

}

.pull-right {
  float: right;
}

.margin-left {
  margin-left: 2%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.top-nav li.page {
  display: block;
  padding: .25em;
  border-bottom: 1px solid gray;
  height: 2em;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}

@media only screen and (min-width:500px) {
  .pull-right {
    float: none;
  }

  .pull-left {
    float: none;
  }
  .margin-left {
    margin-left: 0;
  }

  #filters select {
    width: 30%;
    margin: 1em 1%;
  }

  #filters li {
    display: inline;
  }
}
