.top {
  background-image: url(../images/meSunFireleft1.jpg);
  background-size: 100% 100%;
  min-height: 10em;
  background-repeat: no-repeat;
}

.margin-left {
  margin-left: 2%;
}

.heading-group h2{
  max-width: 95%;
  font-size: 1.25em;
  /*position: absolute;
  left: 3.75em;*/
  margin-top: -1em;
}

.top-nav {
  display: inline;
}

.page-links {
  display: none;
  clear: both;
}

ul.links {
  margin-top: 0px;
  padding: 0px;
  width: 78%;
}

ul.links li{
  display: inline;
  font-size: 3.5em;
  margin-left: 8%;
}

.icon-circle-down {
  font-size: 4em;
  color: rgba(255, 255, 255, .3);
  background-image: url(../images/meTulipsSide.jpg);
  background-size: 100% 100%;
  border-radius: 50%;
  margin-left: 3%;
}

.top-nav:hover .icon-circle-down {
  color: rgba(255, 255, 255, 1);
  transition-duration: .25s;
}

.top-nav:hover ul.page-links {
  display: block;
}

.page-links li{
 padding: .5em .2em;
 font-size: 1.5em;
 margin-left: .5em;
 /*border-style: outset;*/
}
