.top {
  background-image: url(../images/meSunFireleft1.jpg);
  background-size: 100% 100%;
  min-height: 10em;
  background-repeat: no-repeat;
}

.heading-group h2{
  max-width: 95%;
  font-size: 1.25em;
  /*position: absolute;
  left: 3.75em;*/
  margin-top: -1em;
}

.top-nav {
  display: inline;
}

.page-links{
  display: none;
  clear: both;
}

ul.links {
  margin-top: 4px;
  padding: 0px;
  width: 78%;
}

ul.links li{
  display: inline;
  font-size: 3.5em;
  margin-left: 8%;
}

.icon-circle-down {
  font-size: 4em;
  color: rgba(255, 255, 255, .3);
  background-image: url(../images/meTulipsSide.jpg);
  background-size: 100% 100%;
  border-radius: 50%;
  margin-left: 4%;
}

.icon-circle-down:hover {
  color: rgba(255, 255, 255, 1);
  transition-duration: .25s;
}

.top-nav:hover .page-links {
  display: block;
}

.page-links li{
 padding: .5em .2em;
 font-size: 1.5em;
 margin-left: .5em;
}

@media only screen and (min-width: 500px) {
  body {
    width: 800px;
    margin: 0 auto;
  }

  .icon-circle-down {
    display:none;
  }

  .top {
    background-image: url(../images/meSunFire.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
    position: relative;
    box-shadow: 10px 10px 15px #2E2221;
  }

  ul.links {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0em;
  }

  ul.links li{
    display: inline-block;
    font-size: 1.5em;
    border-right: 1px solid white;
    margin: .5em 0 .5em 0;
    padding: 0 1.5em 0 1.5em;
  }

  .links li:last-child {
    border-right: 0px;
  }

  .page-links {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2.5em;
  }

  .page-links li {
    display: inline-block;
    bottom: 1em;
    border-right: 1px solid white;
    margin: .5em 0 .5em 0;
    padding: 0 .5em 0 .5em;
}

  .page-links li:last-child {
    border-right: 0px;
  }
